
/* font-Collection */
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:800;
  font-style: normal;
}

.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


.btn-color{
  color: #4E47FF;
}

/* header  start*/
body{
    background-color: #f6f3f6;
}
.heading{
    background-image: url(../Assets/Hero-bg.png);
}
.logo-function{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    height: 80px;
    align-items: center;
    
}
.logo{
    font-size: 34px;
    line-height: 150%;
}
.logo-btn{
    color: #ffffff;
    background-color: #4E47FF;
    border: none;
    padding: 12px 36px;
    border-radius:10px ;
}
.banner-section{
    padding: 0 0 100px;
}
.banner-title{
    font-size: 65px;
    width: 50%;
    margin:158px auto 50px;
    text-align: center;
}
.banner-btn{
    display: flex;
   font-size: 16px;
   margin: 0 auto ;
   background-color: #4E47FF;
   border: none;
   padding: 12px 36px;
   border-radius: 10px;
   color: white;
   
}
/* action-section */
.action-section{
    display: flex;
    margin: 100px auto;
    width: 80%;
    justify-content: space-between;
}
.action-head{
    margin: auto 0;
}
.action-title{
    font-size: 42px;
    color:#252432 ;
}
.action-subtitle{
    font-size: 24px;
    line-height: 30px;
    color: #252432;
    opacity: 50%;
}
.action-btn{
    font-size: 12px;
    background-color: #4E47FF;
    padding:12px 36px ;
    border: none;
    border-radius: 10px;
    color: white;
}
.action-image img{
    border-radius: 48px;
}
.productive-section{
    width: 80%;
    margin: 0px auto;
    text-align: center;
    background-color: #eee9f0;
    padding: 50px 0px;
    border-radius:24px ;

}
.productive-title{
    font-size: 38px;
    color: #252432;
}
.productive-results{
    display: flex;
    margin:40px 300px ;
    justify-content: space-between;
}
.users-view h1{
  font-size: 80px;
  
}
.users-view-des{
    font-size: 20px;
    color: #000000;
    opacity: 50%;
    padding: ;
}
.users-review-section{
    margin: 100px auto;
    width: 80%;
}
.users-review-section h1{
    font-size: 42px;
    color: #252432;
    text-align: center;
    
}
.review-heading{
    display: flex;
    padding:50px 0 ;
    justify-content: space-between;
    gap: 40px;
    
    
}
.users-card{
    background-color: #faf8fb;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 1px  rgb(222, 221, 221)
}
.users-description{
    font-size: 20px;
}
.card-image{
    display: flex;
   align-items: center;
   
}

.card-image img{
     border-radius: 50%;
     margin:0 20px 0 0;
     height: 50px;

}
.users-review-name{
    opacity: 60%;
    font-size: 20px;
}
.users-review-date{
    opacity: 40%;
    font-size: 15px;
}
.focus-section{
    width: 80%;
    background-color: white;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 100px 0;
    
}
.focus-title{
    text-align: center;
   
}
.focus-description{
    font-size: 10px;
    opacity: 50%;
    
}
.focus-btn{
    display: flex;
    margin: 40px auto;
    background-color: #4E47FF;
    border-radius: 6px;
    border: none;
    padding: 10px 25px;
    color: white;
}
.focus-img{
    border-radius: 50px;
}
.contact{
  width: 80%;
  margin: 0 auto;
}
.contact-heading{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}
.contact-title{
    font-size: 97px;
    margin: auto 0;
    
}
.users-form label{
  font-size: 18px;
  line-height: 50px ;
  padding: 40px 0;
  width: 100%;
  
  
}
.users-form input{
    border: none;
    width: 100%;
    padding: 15px 0;
    display: block;
    border-radius: 8px;
    box-shadow: 0 0 10px 1px rgb(211, 211, 211);
}
 input::placeholder,textarea::placeholder{
    font-size: 3px;
}
.users-form textarea{
    border: none;
    border-radius: 8px;
    width: 100%;
    box-shadow: 0 0 10px 1px rgb(211, 211, 211);   
}
.btn{
    font-size: 16px;
    padding: 15px;
    margin: 10px auto;
    border: none;
    color: white;
    width: 100%;
    border-radius: 8px;
    background-color: #4E47FF;
}
.footer-area{
    background-color: #e1dfe1;
}
.footer-head{
    text-align: center;
    padding-top: 104px;
    line-height: 10px;

}
.footer-logo{
   color:#4E47FF;
   font-size: 100px;
}
.footer-subtitle{
   width: 30%;
   text-align: center;
   margin: 0 auto;
   line-height: 20px;
   opacity: 60%;
}
.
