
/* font-Collection */
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:800;
  font-style: normal;
}

.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


.btn-color{
  color: #4E47FF;
}

/* header  start*/
body{
    background-color: #f6f3f6;
}
.heading{
    background-image: url(../Assets/Hero-bg.png);
}
.logo-function{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    height: 80px;
    align-items: center;
    
}
.logo{
    font-size: 34px;
    line-height: 150%;
}
.logo-btn{
    color: #ffffff;
    background-color: #4E47FF;
    border: none;
    padding: 12px 36px;
    border-radius:10px ;
}
.banner-section{
    padding: 0 0 100px;
}
.banner-title{
    font-size: 65px;
    width: 50%;
    margin:158px auto 50px;
    text-align: center;
}
.banner-btn{
    display: flex;
   font-size: 16px;
   margin: 0 auto ;
   background-color: #4E47FF;
   border: none;
   padding: 12px 36px;
   border-radius: 10px;
   color: white;
   
}
/* action-section */
.action-section{
    display: flex;
    margin: 100px auto;
    width: 80%;
    justify-content: space-between;
}
.action-head{
    margin: auto 0;
}
.action-title{
    font-size: 42px;
    color:#252432 ;
}
.action-subtitle{
    font-size: 24px;
    line-height: 30px;
    color: #252432;
    opacity: 50%;
}
.action-btn{
    font-size: 12px;
    background-color: #4E47FF;
    padding:12px 36px ;
    border: none;
    border-radius: 10px;
    color: white;
}
.action-image img{
    border-radius: 48px;
}
.productive-section{
    width: 80%;
    margin: 0px auto;
    text-align: center;
    background-color: #eee9f0;
    padding: 50px 0px;
    border-radius:24px ;

}
.productive-title{
    font-size: 38px;
    color: #252432;
}
.productive-results{
    display: flex;
    margin:40px 300px ;
    justify-content: space-between;
}
.users-view h1{
  font-size: 80px;
  
}
.users-view-des{
    font-size: 20px;
    color: #000000;
    opacity: 50%;
    padding: ;
}
.users-review-section{
    margin: 100px auto;
    width: 80%;
}
.users-review-section h1{
    font-size: 42px;
    color: #252432;
    text-align: center;
}
.review-heading{
    display: flex;
    padding:50px 0 ;
    justify-content: space-between;
    gap: 40px;
    
    
}
.users-card{
    background-color: #faf8fb;
    padding: 40px;
    border-radius: 10px;
    
}
.users-description{
    font-size: 20px;
}
.card-image{
    display: flex;
   align-items: center;
   
}

.card-image img{
     border-radius: 50%;
     margin:0 20px 0 0;
     height: 50px;

}
.users-review-name{
    opacity: 60%;
    font-size: 20px;
}
.users-review-date{
    opacity: 40%;
    font-size: 15px;
}

